<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	<title>Document</title>
</head>
<body>
	<div class="site-content">
		<div class="wrapper">
			<div class="row">
				<div class="col-4-3">
					<div class="field-item">
						<h3 class="textarea-title">Вид послуги</h3>
						<div class="input-group">
							<div class="input-group-table">
								<h5 class="input-naming">Дата початку</h5>
								<input type="date" class="input-field">
							</div>
							<div class="input-group-table">
								<h5 class="input-naming">Дата кінця</h5>
								<input type="date" class="input-field">
							</div>
						</div>
					</div>
				</div>
				<div class="col-4-1">
					<div class="field-item">
						<input type="text" class="search" placeholder="текстовій пошук" name="" value="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4-3">
					<div class="field-item">
						<h3 class="textarea-title">Існуючі алгоритми</h3>
						<div class="input-group">
							<div class="input-group-table">
								<h5 class="input-naming">Дата початку</h5>
								<input type="date" class="input-field">
							</div>
							<div class="input-group-table">
								<h5 class="input-naming">Дата кінця</h5>
								<input type="date" class="input-field">
							</div>
						</div>
					</div>
				</div>
				<div class="col-4-1">
					<div class="field-item">
						<input type="text" class="search" placeholder="текстовій пошук" name="" value="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<div class="field-item">
						<h4 class="textarea-title">Довідники</h4>
						<div class="input-group">
							<div class="input-group-table">
								<input type="text" class="input-field">
							</div>
						</div>
					</div>
				</div>
				<div class="col-2">
					<div class="field-item">
						<h4 class="textarea-title">Ознака</h4>
						<div class="input-group">
							<div class="input-group-table">
								<input type="text" class="input-field">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4-3">
					<div class="field-item">
						<h3 class="textarea-title">Новий Алгоритм</h3>
						<div class="input-group">
							<div class="input-group-table">
								<h5 class="input-naming">Дата початку</h5>
								<input type="date" class="input-field">
							</div>
							<div class="input-group-table">
								<h5 class="input-naming">Дата кінця</h5>
								<input type="date" class="input-field">
							</div>
						</div>
					</div>
				</div>
				<div class="col-4-1">
					<div class="existing-alorythm">
						<select class="" placeholde="довідник функцій" name="">
							<option value="">сложение</option>
							<option value="">сложение</option>
							<option value="">сложение</option>
							<option value="">сложение</option>
						</select>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
